
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 20px;
  padding: 20px;
}

.image-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.image-item img {
  max-width: 30%;
  height: auto;
}

.image-info {
  margin-top: 10px;
  text-align: left;
}
h1{
  text-align: center;
  font-family: monospace;
}
body{
  background-color: #cddefa ;
}
